<h1 class="mt-5">QueixaAki</h1>

<p class="lead">Por favor Regista-te para continuar</p>

<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary" %>

