<div class="container">
  <div class="row">
    <div class="col-8">
    <% @posts.each do |post| %>
      <div class="insta-post">
        <div class="post-meta">
         <%= post.account.username %>
        </div>
        <%= cl_image_tag post.image.key, width: 400, height: 300, crop: :fill, class: "img img-fluid" %>

      </div>
    <% end %>

    </div>

    <div class="col-4">
      <div class="account-summary">
        <p><strong> <%= current_account.username %></strong> <br/>

        <%= current_account.full_name %></p>
      </div>
      <div class="suggestions">

      </div>

    </div>

  </div>

</div>

